.tse/
mnist/
digit_models/
*.png
*.jpg
vision/
actas_original/
__pycache__/
actas_dataset/
actas_procesadas/
coco_eval.py
coco_utils.py
cocoapi/
engine.py
etiquetas/
transforms.py
utils.py
*.zip
detector_total_models/
svhn-voc-annotation-format/
svhn_dataset/
test.tar.gz
train.tar.gz
multidigit_models/
