.tse/
mnist/
digit_models/
vision/
actas_original/
__pycache__/
actas_dataset/
actas_procesadas/
coco_eval.py
coco_utils.py
cocoapi/
engine.py
etiquetas/
utils.py
*.zip
detector_total_models/
svhn-voc-annotation-format/
svhn_dataset/
test.tar.gz
train.tar.gz
multidigit_models/
election_count_helper/
weights/
datasets/
OMRChecker/
document-scanner/
*.png
